.section-contacto {
    grid-area: section;
    grid-template-areas: "titulo" "formulario";
  }
  .titulo-contacto {
    text-align: center;
    grid-area: titulo;
  }
  
  .formulario {
    width: 100%;
    grid-area: formulario;
    display: flex;
    align-items: center;
    justify-content: center;
  }