.section-quienes-somos {
    grid-area: section;
    justify-self: center;
    align-self: center;
    width: 100%;
  }
  .historia {
    text-align: justify;
    
    }
    .imagen{
      width: 100%;
    }